@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-Bold-Italic.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-ExtraBold-Italic.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-Italic.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-Medium.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-Medium-Italic.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

/*
 * Constants
 */

:root {
    --color-blue: #0a84ff;
    --color-green: #30d158;
    --color-indigo: #5e5ce6;
    --color-orange: #ff9f0a;
    --color-pink: #ff375f;
    --color-purple: #bf5af2;
    --color-red: #ff453a;
    --color-teal: #64d2ff;
    --color-yellow: #ffd60a;
    --color-gray: #8e8e93;
    --color-gray-dark-1: #636366;
    --color-gray-dark-2: #48484a;
    --color-gray-dark-3: #3a3a3c;
    --color-gray-dark-4: #2c2c2e;
    --color-gray-dark-5: #1c1c1e;
    --color-gray-light-1: #aeaeb2;
    --color-gray-light-2: #c7c7cc;
    --color-gray-light-3: #d1d1d6;
    --color-gray-light-4: #e5e5ea;
    --color-gray-light-5: #f2f2f7;

    --color-rgb-blue: 10, 132, 255;
    --color-rgb-green: 48, 209, 88;
    --color-rgb-indigo: 94, 92, 230;
    --color-rgb-orange: 255, 159, 10;
    --color-rgb-pink: 255, 55, 95;
    --color-rgb-purple: 191, 90, 242;
    --color-rgb-red: 255, 69, 58;
    --color-rgb-teal: 100, 210, 255;
    --color-rgb-yellow: 255, 214, 10;
    --color-rgb-gray: 142, 142, 147;
    --color-rgb-gray-dark-1: 99, 99, 102;
    --color-rgb-gray-dark-2: 72, 72, 74;
    --color-rgb-gray-dark-3: 58, 58, 60;
    --color-rgb-gray-dark-4: 44, 44, 46;
    --color-rgb-gray-dark-5: 28, 28, 30;
    --color-rgb-gray-light-1: 174, 174, 178;
    --color-rgb-gray-light-2: 199, 199, 204;
    --color-rgb-gray-light-3: 209, 209, 214;
    --color-rgb-gray-light-4: 229, 229, 234;
    --color-rgb-gray-light-5: 242, 242, 247;

    --height-header-and-footer: 70px;
    --height-header: var(--height-header-and-footer);
    --height-footer: var(--height-header-and-footer);
    --height-main: calc(100vh - (var(--height-header) + var(--height-footer)));

    --border-radius: 7px;
    --transition: all 0.3s ease-out 0s;
}

:focus {
    outline: none;
    outline-width: 0 !important;
    outline-color: transparent !important;
}

/*
 * Reset all Margins, Padding and Borders
 * Used for standardization
 */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "JetBrains Mono", monospace;
}

/*
 * Primary tag zone
 */

body {
    background: var(--color-gray-dark-5);
    color: var(--color-gray-light-5);
}

header, footer {
    width: 100%;
    height: 70px;
}

main {
    min-height: var(--height-main);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--color-gray-light-5);
}

h1 {
    text-align: center;
    padding: 0 0 calc(var(--height-header-and-footer) / 2);
}

button {
    background-color: transparent;
    color: var(--color-gray-light-5);
    white-space: nowrap;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
}

input {
    transition: var(--transition);
    border-radius: var(--border-radius);
    padding: 8px;
    background-color: var(--color-gray-light-5);
}

input::placeholder {
    transition: var(--transition);
    opacity: 1;
}

input:hover:not(:focus)::placeholder {
    text-indent: 8px;
}

input:focus::placeholder {
    opacity: 0;
    text-indent: 16px;
}

/*
 * Container zone
 */

.header-container {
    position: fixed;
}

.footer-container {
    bottom: 0;
}

.header-container, .footer-container {
    height: inherit;
    width: inherit;
    background: rgba(var(--color-rgb-gray-dark-4), 0.3);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: var(--transition);
}

.main-container {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 0;
    padding: calc(var(--height-header-and-footer) / 2) 0;
}

.card-container {
    display: flex;
}

.card-container > .card {
    margin: 0 4px;
}

.card, .window-card {
    padding: 16px;
    background: var(--color-gray-dark-4);
    border-radius: var(--border-radius);
    width: -moz-fit-content;
    width: fit-content;
    height: min-content;
    margin: 0 auto;
}

.card > *:not(:last-child),
.window-card > *:not(:last-child),
.window-card > form > *:not(:last-child) {
    margin-bottom: 8px;
}

/*
 * From button zone
 */

.form-button {
    transition: var(--transition);
    border-radius: var(--border-radius);
    padding: 8px 0;
    background: transparent;
    font-size: smaller;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-flex;
}

.form-button:not([disabled]):hover {
    padding: 8px 10px;
    background: var(--color-gray-light-5);
    color: var(--color-gray-dark-5);
}

.form-button:disabled {
    color: rgba(var(--color-rgb-gray-light-5), 0.5);
    cursor: default;
}

/*
 * Table zone
 */

table {
    border-collapse: collapse;
}

tr > td:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

tr > td:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

td {
    transition: var(--transition);
}

tr:first-child > td {
    background-color: var(--color-gray-dark-2);
}

tr:nth-child(2n + 1):not(:first-child) > td {
    background-color: var(--color-gray-dark-3);
}

td {
    padding: 8px;
    text-align: center;
}

td:last-child {
    transition: var(--transition);
}

/*
 * Window zone
 */

.window-background, .window-background-dimming {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    min-height: var(--height-main);
    min-width: 100vw;
    margin: var(--height-header-and-footer) 0;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-background {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(var(--color-rgb-gray-dark-4), 0.3);
}

.window-background-dimming {
    background: linear-gradient(
            0deg,
            rgba(33, 33, 36, 1) 1%,
            rgba(44, 44, 46, 0.3) 20%,
            rgba(44, 44, 46, 0.3) 80%,
            rgba(33, 33, 36, 1) 99%
    );
}

.window-card {
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@-moz-document url-prefix() {
    .window-card {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

.window-form {
    display: flex;
    flex-direction: column;
}

/*
 * Insert Entity zone
 */

#insertEntity {
    display: flex;
    flex-direction: row-reverse;
}

#insertEntityButton {
    padding: 8px;
}

#insertEntityButton:not([disabled]):hover {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    padding: 8px 16px;

}

#insertEntityButton:not([disabled]):hover + #insertEntityInput {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#insertEntityInput {
    min-width: 0;
}

/*
 * Flags
 */

.apply-blue {
    color: var(--color-blue);
    text-shadow: 0 0 24px var(--color-blue);
}

.apply-green {
    color: var(--color-green);
    text-shadow: 0 0 24px var(--color-green);
}

.apply-indigo {
    color: var(--color-indigo);
    text-shadow: 0 0 24px var(--color-indigo);
}

.apply-orange {
    color: var(--color-orange);
    text-shadow: 0 0 24px var(--color-orange);
}

.apply-pink {
    color: var(--color-pink);
    text-shadow: 0 0 24px var(--color-pink);
}

.apply-purple {
    color: var(--color-purple);
    text-shadow: 0 0 24px var(--color-purple);
}

.apply-red {
    color: var(--color-red);
    text-shadow: 0 0 24px var(--color-red);
}

.apply-teal {
    color: var(--color-teal);
    text-shadow: 0 0 24px var(--color-teal);
}

.apply-yellow {
    color: var(--color-yellow);
    text-shadow: 0 0 24px var(--color-yellow);
}

.apply-underline:after {
    transition: var(--transition);
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: var(--color-gray-light-5);
    opacity: 0;
    margin: 0 auto;
}

.apply-underline:hover:after {
    width: 100%;
    opacity: 100%;
}
