@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-Bold-Italic.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-ExtraBold-Italic.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-Italic.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-Medium.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-Medium-Italic.woff2") format("woff2");
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

/*
 * Constants
 */

:root {
    --color-blue: #0a84ff;
    --color-green: #30d158;
    --color-indigo: #5e5ce6;
    --color-orange: #ff9f0a;
    --color-pink: #ff375f;
    --color-purple: #bf5af2;
    --color-red: #ff453a;
    --color-teal: #64d2ff;
    --color-yellow: #ffd60a;
    --color-gray: #8e8e93;
    --color-gray-dark-1: #636366;
    --color-gray-dark-2: #48484a;
    --color-gray-dark-3: #3a3a3c;
    --color-gray-dark-4: #2c2c2e;
    --color-gray-dark-5: #1c1c1e;
    --color-gray-light-1: #aeaeb2;
    --color-gray-light-2: #c7c7cc;
    --color-gray-light-3: #d1d1d6;
    --color-gray-light-4: #e5e5ea;
    --color-gray-light-5: #f2f2f7;

    --color-rgb-blue: 10, 132, 255;
    --color-rgb-green: 48, 209, 88;
    --color-rgb-indigo: 94, 92, 230;
    --color-rgb-orange: 255, 159, 10;
    --color-rgb-pink: 255, 55, 95;
    --color-rgb-purple: 191, 90, 242;
    --color-rgb-red: 255, 69, 58;
    --color-rgb-teal: 100, 210, 255;
    --color-rgb-yellow: 255, 214, 10;
    --color-rgb-gray: 142, 142, 147;
    --color-rgb-gray-dark-1: 99, 99, 102;
    --color-rgb-gray-dark-2: 72, 72, 74;
    --color-rgb-gray-dark-3: 58, 58, 60;
    --color-rgb-gray-dark-4: 44, 44, 46;
    --color-rgb-gray-dark-5: 28, 28, 30;
    --color-rgb-gray-light-1: 174, 174, 178;
    --color-rgb-gray-light-2: 199, 199, 204;
    --color-rgb-gray-light-3: 209, 209, 214;
    --color-rgb-gray-light-4: 229, 229, 234;
    --color-rgb-gray-light-5: 242, 242, 247;

    --height-header-and-footer: 70px;
    --height-header: var(--height-header-and-footer);
    --height-footer: var(--height-header-and-footer);
    --height-main: calc(100vh - (var(--height-header) + var(--height-footer)));

    --border-radius: 7px;
    --transition: ease-out .3s;
}

:focus {
    outline: none;
    outline-width: 0 !important;
    outline-color: transparent !important;
}

/*
 * Reset all Margins, Padding and Borders
 * Used for standardization
 */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "JetBrains Mono", monospace;
}

/*
 * Primary tag zone
 */

body {
    background: var(--color-gray-dark-5);
    color: var(--color-gray-light-5);
}

header {
    top: 0;
}

header, footer {
    width: 100%;
    height: 70px;
}

main {
    min-height: var(--height-main);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--color-gray-light-5);
}

button {
    background-color: transparent;
    color: var(--color-gray-light-5);
    white-space: nowrap;
}

article.card > h3 {
    margin-bottom: 8px;
}

/*
 * Container zone
 */

.header-container {
    position: fixed;
    backdrop-filter: saturate(180%) blur(20px);
}

.header-container, .footer-container {
    height: inherit;
    width: inherit;
    background: rgba(var(--color-rgb-gray-dark-4), 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container {
    width: fit-content;
    margin: 0 auto 0;
    padding: calc(var(--height-header-and-footer) / 2) 0;
}

.title {
    text-align: center;
    padding: 0 0 40px;
}

.card-container {
    display: flex;
}

.card {
    padding: 15px;
    background: var(--color-gray-dark-4);
    border-radius: var(--border-radius);
    width: fit-content;
    height: fit-content;
    margin: 0 5px;
}

.form-input {
    transition: var(--transition);
    border-radius: 7px;
    padding: 8px;
    width: 100%;
    background-color: var(--color-gray-light-5);
}

.form-button {
    transition: var(--transition);
    border-radius: 7px;
    padding: 8px 0;
    background: transparent;
    font-size: smaller;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
}

.form-button:hover {
    padding: 8px 20px;
    background: var(--color-gray-light-5);
    color: var(--color-gray-dark-5);
}

.form-input + .form-button {
    border-radius: 0 7px 7px 0;
    padding: 8px 10px;
}

.button-container {
    transition: ease-out .3s;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 7px;
    display: inline-flex;
}

.button-container:hover {
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-gray-light-5);
    color: var(--color-gray-dark-5);
}

.button-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*
 * Table zone
 */

table {
    border-collapse: collapse;
}

tr:nth-child(2n+1) {
    background-color: rgba(65, 65, 65, .7);
}

td {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, .3);
}

td:last-child {
    transition: ease-in-out .3s;
}

td:last-child:hover {
    border: 1px solid var(--color-gray-light-5);
    background-color: rgba(255, 255, 255, 0.3);
    color: #029ee5 !important;
}

/*
 * Flags
 */

.apply-flex {
    display: flex;
}

.apply-hidden {
    display: none;
}

.apply-green {
    color: var(--color-green);
}

.apply-margin-8px {
    display: block;
    margin: 4px 0;
    content: "";
}
